@using Microsoft.AspNetCore.Authorization
@inherits ChangePasswordBase
@attribute [Authorize]

<h4>Change Your Password</h4>
<hr>

<SpinLoader IsLoading="@(ChangePasswordModel == null)">
    <LoadingTemplate>
        <div class="loader">
            <Circle Color="@SpinnerColor" Center="true" />
        </div>
    </LoadingTemplate>
    <ContentTemplate>
        <EditForm Model="@ChangePasswordModel"
                  OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            
            <div class="my-2">
                <label>Old Password</label>
                <RadzenPassword Class="w-100" @bind-Value="@ChangePasswordModel.OldPassword" />
                <ValidationMessage For="@(() => ChangePasswordModel.OldPassword)" />
            </div>
            
            <div class="my-2">
                <label>New Password</label>
                <RadzenPassword Class="w-100" @bind-Value="@ChangePasswordModel.NewPassword" />
                <ValidationMessage For="@(() => ChangePasswordModel.NewPassword)" />
            </div>
            
            <div class="my-2">
                <label class="">Confirm Password</label>
                <RadzenPassword  Class="w-100" @bind-Value="@ChangePasswordModel.ConfirmPassword" />
                <ValidationMessage For="@(() => ChangePasswordModel.ConfirmPassword)" />
            </div>
            
            
            <div class="d-flex justify-space-between my-4">
                <RadzenButton ButtonType="ButtonType.Submit"
                              Text="Update"/>
            </div>
        </EditForm>
    </ContentTemplate>
</SpinLoader>