@page "/account/forgotpassword"
@inherits ForgottenPasswordBase
@layout MainLayout

<PageInfo Title="Forgot Password" ApplicationName="@ApplicationName"></PageInfo>

<div id="account" class="form-signin">
    <div class="col-md-4 mx-auto login-bg card p-4 rounded-plus">
        <h3 class="auth-header">Forgot Your Password?</h3>
        @if (!AuthState.IsSuccessful)
        {
            <EditForm Model="ForgottenModel" OnValidSubmit="@OnValidSubmit">
                <DataAnnotationsValidator />

                <div>
                    <div class="my-3">
                        <label class="sr-only">Email Address</label>
                        <RadzenTextBox Class="w-100" placeholder="Email Address" @bind-Value="ForgottenModel.Email"
                        @oninput="@(Oninput)" />
                        <ValidationMessage For="@(() => ForgottenModel.Email)" Class="mb-2" />
                    </div>

                    <div class="align-content-between">
                        <RadzenButton BusyText="Processing ..." IsBusy=@IsSubmitted Disabled="@IsDisabled" class="w-100"
                        ButtonType="ButtonType.Submit" Text="Send Email" />
                    </div>
                    @* <div class="mt-2">
                        <p>
                            <a href="identity/account/login" class="nav-link">Login</a>
                        </p>
                    </div> *@
                </div>
            </EditForm>
        }
        else
        {
            <div class="alert alert-success mt-4">@AuthState.Message</div>
            <a class="btn btn-success" href="identity/account/login">Login</a>
        }

        @if (AuthState.IsError)
        {
            <div class="text-danger mt-4">@AuthState.Message</div>
        }
    </div>
</div>
