@page "/operations/{OperationOfficeId:guid}"
@using SR.Shared.DTOs.Operations
@inherits OperationProcessingListBase
@attribute [Authorize]

<PageTitle>Operation Inspections</PageTitle>

<div class="col-xl-10">
    <div class="row">
        <div class="d-inline-flex">
            <div>
                <h2 style="color: #157347">@OfficeName</h2>
            </div>
            <div class="ml-3">
                <RadzenButton ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Small" Style="text-align: right" Icon="arrow_left" Click="@OnBack" />
            </div>
        </div>
        <div class="col-sm-10">
            <h3>
                Operation Inspections
                <RadzenBadge BadgeStyle="BadgeStyle.Secondary" IsPill="true">@DataSource.Count()</RadzenBadge>
            </h3>
        </div>

        <div class="col-sm-2">
            <RadzenButton Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Info" Text="Add New" Click="@OnNewData" />
        </div>
    </div>

    <SpinLoader IsLoading="@IsLoading">
        <LoadingTemplate>
            <div class="spinner">
                <Wave Color="@SpinnerColor" Center="true" />
            </div>
        </LoadingTemplate>
        <ContentTemplate>
            <RadzenDataGrid Data="@DataSource"
                            Count="@DataSource.Count()"
                            TItem="OperationInspectionDto"
                            AllowPaging="true"
                            PageSize="7"
                            IsLoading="@IsLoading"
                            AllowSorting="true"
                            AllowFiltering="true"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            SelectionMode="DataGridSelectionMode.Single"
                            PagerHorizontalAlign="HorizontalAlign.Left"
                            ShowPagingSummary="true"
                            Responsive="true">
                <Columns>
                    <RadzenDataGridColumn TItem="OperationInspectionDto"
                                          Property="@nameof(OperationInspectionDto.EntryDate)"
                                          Filterable="true"
                                          Title="Entry Date">
                        <Template Context="data">
                            <span>@data.EntryDate.ToString(DateLabels.ShortDateTimeFormat)</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="OperationInspectionDto"
                                          Width="15%"
                                          Property="@nameof(OperationInspectionDto.Total)"
                                          Title="Total">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="OperationInspectionDto" Property="@nameof(OperationInspectionDto.OfficerName)" Title="Prepared By" />
                    <RadzenDataGridColumn TItem="OperationInspectionDto" Title="Actions" Width="20%"
                                          TextAlign="TextAlign.Center" Filterable="false" Sortable="false">
                        <Template Context="data">
                            <RadzenButton ButtonStyle="ButtonStyle.Info"
                                          Icon="visibility" Class="m-1"
                                          Click="@(() => OnDetailData(data))" />
                            <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                          Icon="edit" Class="m-1"
                                          Click="@(() => OnEditData(data))" />
                            <RadzenButton ButtonStyle="ButtonStyle.Danger"
                                          Icon="delete" Class="m-1"
                                          Click="@(() => OnDeleteDataAsync(data))" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </ContentTemplate>
    </SpinLoader>
</div>
